/* Custom Swiper styles */
/* purgecss start ignore */
:root {
  --swiper-theme-color: var(--bs-body-color);
  --swiper-preloader-color:  var(--bs-body-color);
}

.swiper-button-next, .swiper-button-prev {
  position: initial;
  margin:0;
  display:block;
  left:auto;
  right:auto;
  top:auto;
  width:9px;
  height:20px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1rem;
}

.swiper-pagination-bullet {
  width:3px;
  height:3px;
  vertical-align: middle;
}

.swiper-pagination {
  position: initial;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: auto;
  left: auto;
  right: auto;
  width: auto; 
  max-width:80%;
  margin: 0 .75rem
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .25;
}
/* purgecss end ignore */